#container {
    font-family: "Verdana", serif;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 240px 640px 240px;
}

/* Header */
header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background: coral;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center; /* вирівнює айтеми по вертикалі */
    padding: 20px;
}

.logo img {
    width: 170px;
    height: auto;
}

nav ul {
    list-style: none; /*мінімалістичний вигляд списку, щоб не відображались крапочки*/
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    color: black;
}


/* Aside */
aside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: lightgreen;
    font-size: 21px;
}
.sidebar {
    width: 400px;
    padding: 20px;
    margin: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 20px; /* відступ між пунктами */
}

.sidebar ul li a {
    text-decoration: none; /* видаляє підкреслення посилань*/
    color: black;
    padding: 36px;
    display: block;
    text-align: center; /* вирівнювання по лівому краю */
    transition: background-color 0.3s ease; /* плавний перехід фону при наведенні, manage the time of background appearance */
}

.sidebar ul li a:hover {
    background-color: white; /* зміна кольору при наведенні */
    color: black;
}

/* Main */
main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        gap: 70px 120px;

        .img-container-item {

            > img {
                width: 200px;
                height: 200px;
                box-shadow: 10px 5px 5px darkgray;
                border-radius: 15px;
            }

            > img:hover {
                width: 230px;
                height: 230px;
            }
        }
    }
}

/* Footer */
footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background: yellow;

    .footer-container {
        display: flex;
        justify-content: space-between;

        .footer-container-item {
            margin: 20px;
            justify-content: center;

            > ul {
                list-style-type: none;

                > li {
                    margin: 10px;
                }
            }
        }
    }
}
